.landing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--primary-black);
  scroll-snap-align: start;
  word-wrap: break-word;
}

.image-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--primary-white);
  width: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.image-text {
  font-family: var(--font-family-screen);
  background-color: var(--primary-black);
}

.contact-info {
  display: flex;
  background-color: var(--primary-black);
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-family: var(--font-family-screen);
  border-radius: 10px;
  word-wrap: break-word;
  height: 300;
}

@media screen and (max-width: 768px) {
  .contact-info {
    flex-direction: column;
  }
}

.contact-info-name {
  font-size: var(--font-size-huge);
  color: var(--primary-white);
  font-family: var(--font-family-screen);
}

.name-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  background-color: red;
}

.first-name-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-black);
  color: var(--primary-black);
  margin: 0;
  height: 50px;
  padding-right: 1rem;
  cursor: pointer;
}

.last-name-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-white);
  color: var(--primary-white);
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 50px;
  cursor: pointer;
}

.last-name-container:hover {
  background-color: var(--primary-green);
}

.first-name {
  font-size: var(--font-size-huge);
  color: var(--primary-white);
  font-family: var(--font-family-screen);
}

a {
  color: inherit;
  text-decoration: none;
}

.last-name {
  font-size: var(--font-size-huge);
  color: var(--primary-black);
  font-family: var(--font-family-screen);
}

.contact-info-title {
  font-size: var(--font-size-xxl);
  opacity: var(--opacity-low);
}

.contact-info-email {
  font-size: var(--font-size-xl);
  color: var(--primary-green);
}

.contact-info-email:hover {
  color: var(--primary-white);
}

.contact-rows {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
}
