.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
}

.contact-form h2 {
  font-size: 15vh;
  letter-spacing: -0.5vw;
  line-height: 0%;
  padding-top: 2rem;
  margin-bottom: 10vh;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.label-group {
  display: flex;
  flex-direction: row;
}

.green-label {
  color: var(--primary-green);
}

.red-label {
  color: var(--secondary-red);
}

.form-label {
  font-family: var(--font-family-screen);
  font-size: var(--font-size-lg);
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.error-label {
  color: var(--secondary-red);
  font-family: var(--font-family-screen);
  font-size: var(--font-size-md);
  margin-bottom: 0.5rem;
  margin-top: 4px;
  padding-left: 1rem;
}

.textarea {
  background-color: var(--secondary-black);
  color: var(--primary-white);
  opacity: 1;
  padding: 1rem;
  height: 20vh;
  outline: none;
  border-radius: 10px;
  border: 2px solid var(--primary-black);
  font-family: var(--font-family-screen);
  font-size: var(--font-size-md);
  min-width: 500px;
  max-width: 80vw;
  resize: none;
}

.textarea:focus {
  outline: 2px solid var(--primary-green);
  border-radius: 10px;
}

.input {
  background-color: var(--secondary-black);
  color: var(--primary-white);
  opacity: 1;
  padding: 1rem;
  min-width: 500px;
  height: 5vh;
  outline: none;
  border-radius: 10px;
  border: 2px solid var(--primary-black);
  font-family: var(--font-family-screen);
  font-size: var(--font-size-md);
}

.input:focus {
  outline: 2px solid var(--primary-green);
  border-radius: 10px;
}

.phone {
  opacity: 0;
}