.section {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.leftSide, .rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-black);
}

.leftSide {
  flex: 2;
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 30px 30px;
  position: relative;
  height: 100vh;
}

.image-label-container {
  position: absolute; /* Change from relative to absolute */
  top: 5rem; /* Adjust this value to position the label closer to the top; was translateY(125px) */
  left: 50%; /* Center align the container */
  transform: translateX(-50%); /* Adjust horizontally to center the element */
  background-color: var(--primary-black);
  padding: 5px;
  border-radius: 20px;
}

.image {
  align-self: center;
}

.annotation {
  position: absolute;
  display: flex;
  align-items: center;
  color: var(--primary-green);
  font-family: var(--font-family-screen);
}

.dot {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-green);
  transform: translate(-50%, -50%);
}

.line {
  /* Basic line styles are set inline as above */
}

.image-label {
  color: var(--primary-green);
  margin: 0;
  font-family: var(--font-family-screen);
  font-size: var(--font-size-huge);
}

.rightSide {
  flex: 3;  
  padding: 1rem;
}

@media (max-width: 768px) {
  .leftSide {
    display: none;
  }
}
