.purple-tech {
  --tech-color: var(--primary-purple);
}

.orange-tech {
  --tech-color: var(--primary-orange);
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: flex-start;
  background-color: var(--secondary-black);
  max-width: 75%;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .card-container {
    max-width: 100%;
    background-color: var(--secondary-black);
  }
}

.power-on {
  box-shadow: 
    0 0 10px rgba(0, 0, 0, 0.5),
    0 0 20px var(--tech-color),
    inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.flicker {
  animation: flicker 2s infinite;
}

@keyframes flicker {
  0%, 100% {
    box-shadow: 
      0 0 10px rgba(0, 0, 0, 0.5),
      0 0 20px var(--tech-color),
      inset 0 0 10px rgba(0, 0, 0, 0.5);
  }
  95% {
    box-shadow: 
      0 0 10px rgba(0, 0, 0, 0.5),
      0 0 20px var(--tech-color),
      inset 0 0 10px rgba(0, 0, 0, 0.5);
  }
  96%, 97%, 98%, 99% {
    box-shadow:
      0 0 10px rgba(0, 0, 0, 0.5),
      0 0 18px var(--tech-color),
      inset 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.inner-card-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--primary-black);
}

@media screen and (max-width: 768px) {
  .mobile-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.button-row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.button1 {
  width: 10px;
  height: 10px;
  background-color: var(--secondary-red);
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 100%;
  animation: buttonLight1 1s infinite;
}

.button2 {
  width: 10px;
  height: 10px;
  background-color: var(--secondary-green);
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 100%;
  animation: buttonLight2 2s infinite;
}

.button-power {
  width: 40px;
  height: 20px;
  background-color: var(--primary-grey);
  margin-top: 1rem;
  margin-left: 0.9rem;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-power::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: var(--primary-black);
  border-radius: 50%;
  transition: left 0.3s;
}

.button-power-on {
  background-color: var(--primary-green);
}

.button-power-on::after {
  left: 22px;
}

.speaker-span {
  color: var(--primary-black);
  font-size: var(--font-size-huge);
}

.invisible-span {
  margin-right: 0.9rem;
  color: var(--secondary-black);
}

.title {
  color: var(--primary-white);
  font-size: var(--font-size-xxl);
  margin: 0;
}

.stutter {
  animation: stutter 1s infinite;
}

.subtitle {
  font-size: var(--font-size-md);
  opacity: var(--opacity-low );
  margin-bottom: 1rem;
}

.date-text {
  font-size: var(--font-size-md);
  opacity: var(--opacity-medium);
}

@keyframes stutter {
  0%, 100% {
    opacity: 1;
  }
  10%, 50%, 90% {
    opacity: 0.75;
  }
  30%, 70% {
    opacity: 0.9;
  }
}

@keyframes buttonLight1 {
  0%, 100% {
    opacity: 1;
  }
  10%, 50%, 90% {
    opacity: 0.8;
  }
  30%, 70% {
    opacity: 0.9;
  }
}

@keyframes buttonLight2 {
  0%, 100% {
    opacity: 1;
  }
  10%, 50%, 90% {
    opacity: 0.5;
  }
  30%, 70% {
    opacity: 0.3;
  }
}

.body-container {
  text-wrap: wrap;
  white-space: normal;
  overflow: hidden;
}

.body-text {
  color: var(--primary-green);
  margin: 0;
  font-family: var(--font-family-screen);
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.cursor {
  animation: blink 1s infinite;
  font-weight: bold;
}

.classified-text {
  color: var(--secondary-red);
  font-size: var(--font-size-md); /* Adjust the font size as needed */
  transform: rotate(15deg); /* Tilt the text slightly */
  display: inline-block; /* Make the text inline-block for better positioning */
  margin-right: 8px; /* Add some margin for spacing */
}

.tech-title {
  color: var(--tech-color);
  opacity: var(--opacity-high);
}

.tech-text {
  opacity: var(--opacity-medium);
}

.job-url {
  color: var(--tech-color);
  opacity: var(--opacity-high);
}

.value-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.value-text {
  font-size: var(--font-size-md);
  opacity: var(--opacity-high);
  margin-right: 2px;
}

.error-text {
  color: var(--secondary-red);
  font-size: var(--font-size-md);
}

.mobile-image {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-image {
    display: block;
    width: 50vw;
    height: 50vw;
  }
}
