:root {
  /* Primary palette */
  --primary-black: #121212;
  --primary-white: #FFFFFF;
  --primary-purple: #c97af0;
  --primary-green: #69d669;
  --primary-blue: #74b6db;
  --primary-orange: #d49463;

  /* Secondary palette */
  --secondary-black: #2e2e2e;
  --secondary-green: #0f0;
  --secondary-red: #cc6464;

  /* Text opacity */
  --opacity-high: 0.87;
  --opacity-medium: 0.6;
  --opacity-low: 0.38;

  /* Text weight */
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  /* Font size variables */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  --font-size-huge: 3rem;

  /* Font family */
  --font-family-screen: 'Courier New', Courier, monospace;

  --tech-color: var(--primary-purple);
}

.html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--primary-black);
  color: var(--primary-white);
  font-family: 'Courier New', Courier, monospace;
}