:root {
  /* Primary palette */
  --primary-black: #121212;
  --primary-white: #FFFFFF;
  --primary-purple: #c97af0;
  --primary-green: #69d669;
  --primary-blue: #74b6db;
  --primary-orange: #d49463;
  --primary-grey: #616161;

  /* Secondary palette */
  --secondary-black: #2e2e2e;
  --secondary-green: #0f0;
  --secondary-red: #cc6464;

  /* Text opacity */
  --opacity-high: 0.87;
  --opacity-medium: 0.6;
  --opacity-low: 0.38;

  /* Text weight */
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  /* Font size variables */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  --font-size-huge: 3rem;

  /* Font family */
  --font-family-screen: 'Courier New', Courier, monospace;

  --tech-color: var(--primary-purple);
}

/* The scrollbar itself */
::-webkit-scrollbar {
  width: 8px; /* Width of vertical scrollbar */
}

/* The track (progress bar) of the scrollbar */
::-webkit-scrollbar-track {
  background: var(--primary-black); /* Color of the track */
}

/* The handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: var(--primary-green); /* Color of the thumb */
  border-radius: 10px; /* Rounded corners of the thumb */
  overflow:auto;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-white); /* Color of the thumb on hover */
}


html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--primary-black);
  color: var(--primary-white);
  font-family: 'Courier New', Courier, monospace;
}
