.main {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  /*scroll-snap-type: y mandatory;*/
  height: 100vh;
}

@media screen and (max-width: 1000px) {
  .main {
    scroll-snap-type: none;
  }
}
