.grid {
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 20px) / 3));
  width: 100%;
  gap: 10px;
  padding: 10vh;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-black);
  color: var(--primary-white);
  border-radius: 10px;
  z-index: 1;
}