.grid-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--primary-black);
}

.grid {
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(3, calc((100% - 20px) / 3));
  width: 100%;
  gap: 10px;
  padding: 10vh;
  height: 80vh;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-black);
  color: var(--primary-white);
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
  border: 2px solid var(--secondary-black);
}

.grid-item-x {
  color: var(--primary-green);
  cursor: default;
}

.grid-item-x:hover {
  border: 2px solid var(--secondary-black);
}

.grid-item-o {
  color: var(--primary-purple);
  cursor: default;
}

.grid-item-o:hover {
  border: 2px solid var(--secondary-black);
}

.hover-green:hover {
  border: 2px solid var(--primary-green);
}

.hover-purple:hover {
  border: 2px solid var(--primary-purple);
}

.win-count {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  font-family: var(--font-family-screen);
  margin-left: 4px;
}

.hidden {
  opacity: 0;
}