.button {
  position: relative;
  background-color: var(--secondary-black);
  color: var(--primary-white);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--font-size-lg);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 
    6px 6px 0 0 var(--primary-green),
    inset 0px 4px 4px rgba(113, 113, 113, 0.2),
    inset 0 -4px 4px rgba(0, 0, 0, 0.2);
  font-family: var(--font-family-screen);
  font-weight: var(--weight-medium);
  width: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid var(--primary-black);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.button:hover {
  box-shadow: 
    3px 3px 0 0 var(--primary-green),
    inset 0px 4px 4px rgba(73, 73, 73, 0.2),
    inset 0 -4px 4px rgba(0, 0, 0, 0.2);
  opacity: 0.85;
  transform: translate(4px, 4px);
}

.button:focus {
  outline: none;
  color: var(--primary-white);
}

.button-small {
  width: 100px;
}
