.about-wrapper {
  margin-top: 10rem;
  height: 100vh;
  width: 100%;
  background-color: var(--primary-black);
  scroll-snap-align: start;
  display: flex;
  flex-direction: row;
  position: relative;
}

.about-wrapper::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  background-image: url('/pattern.svg');
  background-repeat: repeat;
  background-size: cover;
}


.left {
  color: var(--primary-white);
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  padding-left: 4rem;
  flex: 3;
}

.left h2 {
  font-size: 15vh;
  letter-spacing: -0.5vw;
  line-height: 0%;
  padding-top: 2rem;
  margin-bottom: 10vh;
}

.about-text-wrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.about-text {
  padding-bottom: 1rem;
}

.right {
  display: flex;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .right {
    display: none;
  }
}