.about-wrapper {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-black);
  scroll-snap-align: start;
  display: flex;
  flex-direction: row;
  position: relative;
}

@media screen and (max-width: 768px) {
  .about-wrapper {
    display: none;
  }
}


.left {
  color: var(--primary-white);
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 2;
  padding-left: 4rem;
}

.left h2 {
  font-size: 15vh;
  letter-spacing: -0.5vw;
  line-height: 0%;
}

.about-text-wrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.about-text {
  padding-bottom: 1rem;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .right {
    display: none;
  }
}