.job-navigator {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 1rem;
}

.job-badge {
  background-color: var(--secondary-black);
  color: var(--primary-white);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: var(--font-family-screen);
  font-size: var(--font-size-lg);
  font-weight: var(--weight-bold);
  border: solid 1px var(--primary-black);
}

.selected-badge {
  background-color: var(--primary-green);
  color: var(--primary-black);
}

.job-badge:hover {
  border: solid 1px var(--primary-green);
}

.job-badge:focus {
  outline: none;
}
